.blog {
  &-list {
    @include flex(center, center, row, wrap);
  }

  &-item {
    max-width: 360px;

    margin-bottom: 2rem;

    @media screen and (min-width: 799px) {
      margin: 0 1rem;
      margin-bottom: 2rem;
    }
  }

  &-image {
    width: 100%;
  }

  &-title {
    font-size: 1.2rem;
    font-weight: 500;
  }

  &-date {
    color: $color-fg-light;
  }
}
