.blog-view {
  .blog-image {
    width: 100%;
    height: 500px;

    object-fit: cover;

    @media screen and (min-width: 1000px) {
      height: 600px;
    }
  }

  .blog-title {
    margin-top: 1.5rem;
    margin-bottom: 0.4rem;

    font-size: 1.5rem;
  }

  .blog-date {
    display: block;

    margin-bottom: 1.5rem;
  }

  .blog-content {
    margin-bottom: 2rem;

    line-height: 2;
  }
}
