// Flexbox

@mixin flex(
  $justify: flex-start,
  $align: flex-start,
  $direction: row,
  $wrap: nowrap
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flex-x-center {
  display: flex;
  justify-content: center;
}

@mixin flex-y-center {
  display: flex;
  align-items: center;
}
