* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background: $color-bg;
  color: $color-fg;

  letter-spacing: 1.2px;
}

a {
  color: $color-link;

  text-decoration: none;
}

ul {
  list-style: none;
}
