// Colors

$color-bg: #fff;
$color-fg: #353e46;
$color-fg-light: #9da6ad;

$color-primary: #0883ED;
$color-secondary: #FFC906;
$color-tertiary: #F54E3B;

$shadow: #e3e3e3;

$color-link: #1f58d1;


// Layout

$page-max-width: 1200px;
