.gallery {

  &-body {
    max-width: 900px;

    position: relative;

    margin: 0 auto;
  }

  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &-item {
      width: 100%;
      height: 50vw;
      max-height: calc(900px / 3);

      object-fit: cover;

      &:nth-child(odd) {
        background: $color-primary;
      }
    }

    @media screen and (min-width: 719px) {
      grid-template-columns: 1fr 1fr 1fr;

      &-item {
        height: 33vw;
      }
    }
  }

  &-navigator {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.4);
  }

  a {
    @include position-center;
    @include flex-row-center;

    width: 120px;
    height: 40px;

    color: #fff;

    text-align: center;

    border: 1px solid #fff;
    border-radius: 4px;
  }
}
