.info {
  min-height: 40px;

  padding: 0.5rem 0;

  background: $color-tertiary;
  color: $color-bg;

  .wrapper {
    @include flex-row-center;

    height: 100%;
  }

  &-message {
    font-size: 0.9rem;
    text-align: center;
  }
}
